header {
  @headerHeight: 60px;
  @itemHeight: 36px;
  box-sizing: border-box;
  padding-top: (@headerHeight - @itemHeight)/2;
  width: 100%;
  min-width: 1280px;
  height: @headerHeight;
  background: #fff;
  .logo {
    float: left;
    padding-left: 20px;
  }
  .login-state {
    padding-right: 20px;
    float: right;

  }
  .user-brief{
    float:right;
    img{
      width:36px;
      height:36px;
    }
  }
  .login-btn {
    float: right;
    width: 74px;
    height: @itemHeight;
    border-radius: 5px;
    text-align: center;
    line-height: @itemHeight;
    color: #fff;
    background: #ff515d;
    cursor:pointer;
  }
  .location {
    float: right;
    margin-right: 20px;
    width: 100px;
    height: @itemHeight;
    position:relative;
    z-index:1;
    .zxt-selection {
      box-sizing: border-box;
      width: 100px;
      border: 1px solid #e5e5e5;
      line-height: @itemHeight - 2px;
      border-radius: 5px;
    }
    .zxt-selection-selected {
      padding-left: 10px;
    }
    .zxt-selection-item {
      padding-left: 10px;
    }
  }
  .favorite {
    float: right;
    margin-right: 40px;
    width: @itemHeight;
    height: @itemHeight;
    cursor: pointer;
  }
  .save-to-desk {
    float: right;
    margin-right: 40px;
    width: @itemHeight;
    height: @itemHeight;
    cursor: pointer;
  }
  img {
    display: block;
  }
}