@import '../consts.less';
@keyframes myRotate {
  0%{
    transform:rotate(360deg);
  }
  100%{
    transform:rotate(0);
  }
}
.zxt-pages{
  @itemW:355px;
  @itemH:50px;
  width:@itemW;
  height:@itemH * 12 + 20px + 40px;
  overflow: hidden;
  .zxt-pages-list{
    position:relative;
    height:@itemH * 12;
    li{
      box-sizing: border-box;
      padding-left:20px;
      width:@itemW;
      height:@itemH;
      border-bottom:1px solid @gray;
      line-height:@itemH - 1px;
      color:#000;
      background:#fff;
      cursor:pointer;
      &.on{
        color:#fff;
        background:@red;
        border-color:@red;
      }
      &:hover{
        color:#fff;
        background:@red;
        border-color:@red;
      }
    }
  }
  .zxt-pages-num{
    margin:0 auto;
    text-align: center;
    .inner-wrap{
      display:inline-block;
    }
    p{
      float:left;
      box-sizing: border-box;
      margin-right:9px;
      width:36px;
      height:36px;
      border:1px solid @gray;
      line-height:34px;
      text-align: center;
      color:#999999;
      background:#fff;
      cursor:pointer;
      &:hover,&.on{
        color:#fff;
        background:@red;
        border-color:@red;
      }
      &:last-child{
        margin-right:0;
      }
    }
    span{
      float:left;
      box-sizing: border-box;
      margin-right:9px;
      width:36px;
      height:36px;
      border:1px solid @gray;
      line-height:34px;
      text-align: center;
      color:#999999;
      background:#fff;
    }
  }
}