
.container{
  width:100%;
  background:#f2f2f2;
  font-size:14px;
  //font-family:"方正兰亭超细黑简体","Microsoft YaHei",sans-serif;
  font-family:"Microsoft YaHei",sans-serif;
}

.blank-h-20{
  height:20px;
}
.blank-h-30{
  height:30px;
}
.blank-h-40{
  height:30px;
}
.blank-w-19{
  width:19px;
  height:10px;
}
ul,p,h4{
  margin:0;
  padding:0;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
input{
  outline:none;
  border:none;
}